.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.commits-container {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  box-shadow: -3px 2px 67px -3px black;
  background-color: white;
  z-index: 2;
}

.commit-sidebar {
  padding: 25px;
  height: 100vh;
  overflow-y: scroll;
  padding-left: 46px;
}

#root {
  margin: 0;
  padding: 0;
}

.mask {
  opacity: 0.3;
  background-color: black;
  width: 100%;
  height:100vh;
  position:fixed;
  z-index: 1;
}

.repo-container {
  padding: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  height: 95vh;
  top: 48px;
}
.main-container {
  margin: 0;
  background-color: #e3e3e3;
}


.repo-tile {
  margin: 20px 79px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  transition: 0.2s
}

.repo-tile:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.repo-details {
  margin: 0 10px;
  text-align: center;
  color: #586069;
}

.card-title {
  color: #0366d6;
}

.card-footer {
  margin: 0 -15px;
}

.vertical-timeline {
  max-width: 100% !important;
}

.vertical-timeline-element-content {
  width: 39vw;
}

.vertical-timeline-element-title {
  color: #2296f3;
  cursor: pointer;
  margin-bottom: 30px;
}

.commit-sidebar.row:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 34px;
  z-index: -1;
  display: block;
  width: 2px;
  content: "";
  background-color: #eff1f3;
}

.commit-tile {
  display: table;
  width: 100%;
  color: #6a737d;
  table-layout: fixed;
  border: 1px solid #e1e4e8;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(225, 228, 232);
  padding: 2px 15px;
  margin-bottom: 10px;
  margin-left: 20px;
  line-height: 1.2;
}

.commit-tile img {
  width: 20px;
  margin-right: 10px;
}

.commit-tile:hover {
  background-color: #f6fbff;
}

.octicon {
  position: relative;
  left: -53px;
  top: -20px;
  background-color: white;
  height: 23px;
}

.commit-title {
  margin-top: -19px;
  color: #444d56;
}
